<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="ESG.Foundation.Logging"/>
  </extensions>
  <targets>
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${longdate} ${level:uppercase=true:padding=-5} ${loggerAbbreviated:maxlength=44} [${threadId}] ${message} ${exception:format=tostring}" />
    <target name="file"
            xsi:type="File"
            lineEnding="CRLF"
            encoding="utf-8"
            keepFileOpen="true"
            openFileCacheTimeout="90"
            fileName="\\ad.brcm.co.uk\data\BSGLog\Server\${date:format=yyyyMMdd:cached=true}\${machinename}\${processname}.${date:format=HHmmss:cached=true}.${processid:cached=true}.log"
            layout="${longdate} ${level:uppercase=true:padding=-5} ${loggerAbbreviated:maxlength=44} [${threadId}] ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*"
            minLevel="Info"
            writeTo="console" />
    <logger name="*"
            minLevel="Info"
            writeTo="file" />
  </rules>
</nlog>